#box{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	#header{
		width: 100%;
		height: 0.46rem;
	    top: 0;
	    left: 0;
	    width: 100%;
	    line-height: .28rem;
	    text-align: center;
	    background: #f8f8f8;
	    border-bottom: 0.01rem solid #d8d8d8;
		div{
			margin: 0.08rem;
		    background: #eee;
		    border-radius: 0.04rem;
		    color: #878787;
		    height: 0.3rem;
		    font-size: 0.12rem;
		    i{
			    font-size: .14rem;
			    margin-right: .06rem;
		    }
		    span{
		    	margin: 0.08rem;
			    background: #eee;
			    border-radius: 0.04rem;
			    color: #878787;
			    font-size: 0.12rem;
		    }
		}
	}
	#footer{
		flex: 1;
		display: flex;
		flex-direction: row;
		.list_left{
            left: 0;
            top: .47rem;
            width: 0.8rem;
            background: #f5f5f5;
            text-align: center;
            margin: 0;
            overflow-y: auto;
            
			ul{
			    width: 100%;
			    height: 100%;
			    li{
			        height: 0.42rem;
                    width: 0.78rem;
                    line-height: 0.46rem;
                    font-size: 0.15rem;
                    color: #3a3a3a;
                    border: 0.02rem solid #f5f5f5;
                    border-right: 0;  
			    }
			}
		}
		.list_right{
			flex: 1;
			.more{
			        display: block;
                    position: absolute;
                    top: 0.6rem;
                    right: 0;
                    height: .3rem;
                    line-height: .3rem;
                    font-size: .12rem;
                    color: #878787;
                    padding-right: .08rem;
			   
			}
			ul{
			    li{
			        h3{
                        font-weight: 400;
                        height: 0.3rem;
                        line-height: 0.3rem;
                        text-align: center;
                        margin: 0;
                        font-size: 0.14rem;
                    }
                    dl{
                        width: 33%;
                        float: left;
                        text-align: center;
                        padding-bottom: .2rem;
                        a{
                            dt{
                                padding: 0.05rem;
                                img{
                                    border: 0;
                                    width: 100%;
                                    display: block;
                                }
                            }
                        }
                    }
			    }
			}
		}
	}
}
