@charset "utf-8";
body,h1,h2,h4,h5,h6,h3,p,dl,ul,li,dt,dd,td,input,fieldset,form{margin:0;padding:0;}
header,nav,section,footer,article,aside,figure,figcaption,main{display: block; margin:0; padding:0;}
li{list-style: none;}
a{text-decoration: none; color:#333;}
img{vertical-align: top; border:none;}
i,em{font-style: normal;}
b,strong,h1,h2,h4,h5,h6,h3{font-weight: normal;}
h1,h2,h4,h5,h6,h3{font-size: inherit;}
body{font-size: 14px; font-family: Helvetica;}
*{box-sizing:border-box;}
body,html{width: 100%;height: 100%;}
