#yonghu{
    width: 100%;
    height: 100%;
    overflow: hidden;
    header{
        width: 100%;
        height: 1.9rem;
        background: url(../assets/css/login-bg.png);
        background-size: cover;
        .header_user{
            width: 100%;
            height: 1.2rem;
            padding: 0.3rem 0.2rem;
            p{
                display: block;
                width: 0.6rem;
                height: 0.6rem;   
                position: relative; 
                float: left;       
                img{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 0.2rem;
                    height: 0.2rem;
                }
            }
            div{
                width: 1.4rem;
                height: 0.6rem;
                float: left;
                margin-left: 0.15rem;
                h2{
                    width: 1.4rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: .03rem 0 .14rem;
                    line-height: 1;
                    font-size: .18rem;
                    font-weight: 400;
                    color: #3a3a3a;
                }
                span{
                    position: relative;
                    width: .7rem;
                    height: .18rem;
                    font-size: .11rem;
                    color: #fff;
                    line-height: .18rem;
                    text-align: center;
                    border-radius: .86rem;
                    background: #ff8000;
                    display: inline-block;
                    z-index: 10;
                }
            }
            a{
                display: block;
                position: absolute;
                top: .35rem;
                right: .15rem;
                width: .3rem;
                height: .3rem;
                z-index: 3;
                i{
                    font-size: .3rem;
                    line-height: .3rem;
                    color: #878787;
                }
                span{
                    font-size: .1rem;
                    color: #878787;
                    letter-spacing: 0;
                    line-height: 1;
                    font-weight: 300;
                    text-align: center;
                }
            }
        }
        .header_mes{
            height: 0.54rem;
            padding: 0 0.1rem;
            ul{
                width: 100%;
                display: flex;
                margin-top: 0.1rem;
                li{
                    flex: 1;
                    position: relative;
                    text-align: center;
                    height: 100%;
                    span{
                        display: block;
                        position: relative;
                        color: #000;
                        font-size: .13rem;
                    }
                    span:nth-of-type(2){
                        color: #ff7e05;
                        font-size: .15rem;
                        font-weight: 700;
                        display: block;
                    }
                }
            }
        }    
    }
    section{
        width: 100%;
        .list_user{
            position: relative;
            height: .44rem;
            line-height: .44rem;
            border-bottom: 1px solid #ece9e5;
            background: rgba(255,255,255,.6);
            i{
                margin-left: 0.1rem;
                vertical-align: middle;
                font-size: 0.3rem;
                color: #878787;
            }
            span:nth-of-type(1){
                font-size: .14rem;
                color: #3a3a3a;
                margin-left: .1rem;
            }
            span:nth-of-type(2){
                font-size: .13rem;
                color: #878787;
                line-height: .44rem;
                position: absolute;
                right: 0.1rem;
            }
        }
        .shop_mes{
            width: 100%;
            height: 0.8rem;
            background: rgba(255,255,255,.6);
            margin-bottom: 0.1rem;
            ul{
                width: 100%;
                height: 100%;
                display: flex;
                padding: .22rem 0 .12rem 0;
                text-align: center;
                li{
                    flex: 1;
                    span{
                        display: block;
                    }
                    span:nth-of-type(1){
                        position: relative;
                        font-size: .22rem;
                        color: #5d5d5d;
                    }
                    span:nth-of-type(2){
                        padding-top: .05rem;
                        font-size: .12rem;
                        color: #3a3a3a;
                        display: block;
                    }
                }
            }
        }
    }
}
