    html,
    body {
        height: 100%;
    }
    
    #Cart {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #f5f5f5;
        nav {
            background: #fff;
            color: #75a739;
            height: .45rem;
            line-height: .43rem;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            border-bottom: .01rem solid #d8d8d8;
            display: flex;
            justify-content: space-between;
            .back {
                width: .88rem;
                color: #76a741;
                display: inline-block;
                a {
                    width: .4rem;
                    color: #75a739;
                    display: inline-block;
                    font-size: .22rem;
                    text-align: center;
                }
            }
            .text {
                box-flex: 1;
                text-align: center;
                font-size: .17rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .next {
                width: .8rem;
                margin-right: .08rem;
                text-align: right;
                color: #75a739;
            }
        }
        .container {
            margin-top: .46rem;
            padding-bottom: .45rem;
            .specific {
                min-height: .4rem;
                padding: .2rem 0;
                border-top: 2px dashed deeppink;
                border-bottom: 2px dashed deeppink;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #fff;
                margin-bottom: 0.1rem;
                i {
                    padding: 0.1rem;
                    font-size: 0.2rem;
                    color: #bfbfbf;
                }
                .icon-location {
                    color: #ff8000;
                }
                .infor {
                    flex: 1;
                    font-weight: 300;
                }
            }
        }
        #cart-con {
            background: #fff;
        }
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0.1rem;
            margin-bottom: 0.01rem;
            height: .3rem;
            padding: 0 .1rem;
            font-size: .12rem;
            line-height: .3rem;
            color: #878787;
            border-bottom: .01rem solid #d8d8d8;
        }
        #cart-list {
            padding: .1rem;
            display: flex;
            background: #fff;
            li {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                a {
                    display: flex;
                    width: 100%;
                }
                #ic {
                    display: inline-block;
                    width: .14rem;
                    height: .14rem;
                    margin-right: .1rem;
                    border: .01rem solid #bfbfbf;
                    background: #fff;
                    color: #fff;
                    border-radius: 100%;
                    line-height: .14rem;
                    text-align: center;
                }
                .pro-img {
                    position: relative;
                    width: .9rem;
                    height: .9rem;
                    margin-right: .1rem;
                    border-radius: .04rem;
                    overflow: hidden;
                    #xs {
                        top: 0;
                        right: auto;
                        bottom: auto;
                        left: auto;
                        position: absolute;
                        height: .16rem;
                        padding: 0 .05rem;
                        background: #ff4848;
                        font-size: .1rem;
                        line-height: .16rem;
                        color: #fff;
                    }
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
                .pro-info {
                    position: relative;
                    flex: 1;
                    h3 {
                        margin: 0 0 .05rem;
                        height: .3rem;
                        font-size: .14rem;
                        line-height: .15rem;
                        font-weight: 400;
                        color: #3a3a3a;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        -moz-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    h5 {
                        height: .15rem;
                        margin: 0 0 .05rem;
                        font-weight: 400;
                        font-size: .1rem;
                        line-height: .15rem;
                        color: #878787;
                        span {
                            float: left;
                            margin-right: .1rem;
                            font-size: .12rem;
                        }
                    }
                    h4 {
                        height: .15rem;
                        margin: 0;
                        font-weight: 400;
                    }
                    p {
                        font-size: .12rem;
                        color: #fff;
                        .price {
                            color: #ff8000;
                        }
                        .tag {
                            display: inline-block;
                            margin-left: .05rem;
                            padding: .02rem .02rem .01rem;
                            line-height: 1;
                            color: #fff;
                            font-size: .1rem;
                            border-radius: .02rem;
                        }
                    }
                    .count {
                        top: auto;
                        right: -0.1rem;
                        bottom: -0.1rem;
                        left: auto;
                        position: absolute;
                        display: box;
                        height: .4rem;
                        align-items: center;
                        line-height: 0.5rem;
                        font-size: 16px;
                        span {
                            // display: inline-block;
                            padding: 0.1rem;
                            i {
                                display: inline-block;
                                width: .2rem;
                                height: .2rem;
                                border: .01rem solid #bfbfbf;
                                border-radius: 100%;
                                font-size: .16rem;
                                line-height: .2rem;
                                color: #ff8000;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        #cart-nav {
            top: auto;
            bottom: 0;
            left: 0;
            width: 100%;
            position: fixed;
            height: .5rem;
            box-shadow: 0 -0.02rem 0.02rem 0 rgba(0, 0, 0, .15);
            background: #fff;
            display:flex;
            justify-content: space-between;
            align-items: center;
            #select_all {
                font-size: .12rem;
                color: #878787;
                .iconfont {
                    float: left;
                    width: .14rem;
                    height: .14rem;
                    margin: 0 .05rem 0 .1rem;
                    border: .01rem solid #bfbfbf;
                    background: #fff;
                    color: #fff;
                    border-radius: 100%;
                    line-height: .14rem;
                    text-align: center;
                }
            }
            .info{
                flex: 1;
                font-size: .14rem;
                color: #878787;
                .total{
                padding-right: .1rem;
                text-align: right;
                color: #878787;
                    em{
                        color: #ff8000;
                        font-size: 20px;
                    }
                }
            }
            .account {
                display: inline-block;
                min-width: 1rem;
                height: .5rem;
                padding: 0 .05rem;
                background: #bfbfbf;
                font-size: .16rem;
                line-height: .5rem;
                color: #fff;
                text-align: center;
            }
        }
    }